<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                    <div class="grid-container">
                        <div class="grid-item">
                            <h1>Leads/GA</h1>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                    {{ range .Site.Data.leads.officers }}
                                    {{ .name }} <b>{{ .title }}</b>&nbsp;
                                    {{ if isset . "twitter"}}<a href="https://twitter.com/{{ .twitter }}" target="_blank"><img width="18" src="/twitter_icon.png" alt="twitter icon"></a>{{ end }}
                                    {{ if isset . "website"}}<a href="{{ .website }}" target="_blank"><img width="30" src="/website_icon.webp" alt="website icon"></a>{{ end }}
                                    {{ if isset . "email"}}<a href="mailto:{{ .email }}"><img width="25" src="/email_icon.png" alt="Email icon"></a>{{ end }}
                                    <br>
                                    {{ end }}
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <h1>GR 4.0 Dev</h1>
                            <div style="text-align: left;">
                            <p style="line-height: 1.4;">
                            Lead:<br>
                            John Sallay<br><br>
                            Members:<br>
                            Josh Morman<br>
                            Bastian Bloessl<br>
                            Marcus Müller<br>
                            </div>
                            </p>
                        </div>
                        <div class="grid-item">
                            <h1>Subsytem Leads</h1>
                            <div style="text-align: left;">
                                <h2>GNU Radio Companion</h2>
                                <p style="line-height: 1.4;">
                                    Lead:&nbsp;Håkon Vågsether
                                    &nbsp;<a href="mailto:grc@gnuradio.org"><img width="25" src="/email_icon.png" alt="email icon" /></a>
                                    <br>
                                        Member:&nbsp;
                                        Derek Kozel
                                </p>
                                <h2>gr-iio</h2>
                                <p style="line-height: 1.4;">
                                    Lead:&nbsp;Henning Paul
                                </p>
                                <h2>gr-uhd</h2>
                                <p style="line-height: 1.4;">
                                    Lead:&nbsp;Martin Braun
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <h1>Documentation</h1>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Vacant - docs@gnuradio.org<br><br>
                                Members:<br>
                                Barry Duggan<br>
                                Ben McCall<br>
                                Cyrille Morin (Notou)<br>
                                Bailey Campbell<br>
                                </div>
                                </p>
                        </div>
                        <div class="grid-item">
                            <h1>GRCon</h1>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Samantha Palazzolo - grcon@gnuradio.org<br><br>
                                Members:<br>
                                Josh Morman<br>
                                Barry Duggan<br>
                                Derek Kozel<br>
                                </div>
                                </p>
                        </div>
                        <div class="grid-item">
                            <h1 style="margin-bottom: 0px;">SigMF</h1>
                            <h4>(Signal Metadata Standard)</h4>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Jacob Gilbert - sigmf@gnuradio.org<br>
                                Marc Lichtman<br><br>
                                Members:<br>
                                Teque5<br>
                                gmabey<br>
                                </div>
                                </p>
                        </div>
                        <div class="grid-item">
                            <h1 style="margin-bottom: 0px;">VOLK</h1>
                            <h4>(SIMD Optimization)</h4>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Johannes Demel - volk@gnuradio.org<br><br>
                                Members:<br>
                                Michael Dickens<br>
                                </div>
                                </p>
                        </div>
                        <div class="grid-item">
                            <h1 style="margin-bottom: 0px;">Infrastructure</h1>
                            <h4>and CI/CD</h4>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Andrej Rode - admin@gnuradio.org<br><br>
                                Members:<br>
                                Marc Lichtman<br>
                                </div>
                                </p>
                        </div>      
                        <div class="grid-item">
                            <h1 style="margin-bottom: 0px;">Education</h1>
                            <h4>and Academic Outreach</h4>
                            <div style="text-align: left;">
                                <p style="line-height: 1.4;">
                                Lead:<br>
                                Jean-Michel Friedt<br><br>
                                Members:<br>
                                </div>
                                </p>
                        </div>         
                    </div>
                    <br>
                    <h5>
                        The GNU Radio Project is organized under the <a href="https://github.com/gnuradio/gr-governance/blob/main/aoa.md">Articles of Association stated here</a>
                    </h5>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>






