{{ define "header" }}
<div class="container-fluid bbheader">
    <div class="bbimg">
        <div class="container">
            <span class="bbtitle">{{ .Title }}</span>
        </div>
    </div>
</div>
{{ end }}
{{ define "main" }}
<main role="main">

 <div class="container-fluid marketing bg_gray">
  <div class="container marketing bg_gray learn_more_padding">

    <div class="row ">
        <div class="offset-lg-1 col-lg-9">
            {{ range .Pages }}
            <div class="row featurette">
                <div class="col-md-7">
                    {{ $url := .Params.externalurl | default .RelPermalink }}
                    <a href="{{ $url }}" class="blog_link" target="_blank">
                        <h5 class="featurette-heading">{{ .Title }}</h5></a>
                    <h6>by {{ .Params.author }}</h6>
                    <p class="lead">{{ .Summary }}</p>
                </div>
          <div class="col-md-5">
            <div class="vc_container">
                <div class="img_container">
                    {{ $thumbnail := .Resources.GetMatch "thumbnail*" | default (resources.Get $.Site.Params.defaults.thumbnail) }}
                    <a href="{{ $url }}" target="_blank"><img class="featurette-image img-fluid mx-auto vc_image" src={{ $thumbnail.RelPermalink }} alt="{{ .Title }}" target="_blank"></a>

                </div>
                <div class="badges-container">


              </div>
            </div>
          </div>
            </div>
            <hr class="featurette-divider">
            {{ end }}
      </div>
    </div>
  </div>
 </div>
</main>
{{ end }}
