{{ define "header" }}
<div class="page-header">
    <div class="blog_header_img"></div>
    <h1 class="offset-lg-2 col-lg-8 display-5">{{ .Title }}</h1>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
 <div class="container-fluid  bg_gray">
    <div class="row px-2">
        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
            {{ range $index, $element := .Paginator.Pages }}
            {{ $element.Scratch.Set "default_thumbnail" (index $.Site.Params.thumbnails (default "default" $element.Params.thumbnail)) }}
            {{ if eq (mod $index 2) 0 }}
            {{ partial "blog/entry_left.html" $element }}
            {{ else }}
            {{ partial "blog/entry_right.html" $element }}
            {{ end }}
            <hr class="featurette-divider">
            {{ end }}
            {{ template "_internal/pagination.html" . }}
      </div>
  </div>
 </div>
</main>
{{ partial "subfoot" . }}
{{ end }}
