{{ define "head" }}
{{ if isset .Params "externalurl" }}
<meta http-equiv="Refresh" content="5; url={{ .Params.externalurl }}">
{{ end }}
{{ end }}

{{ define "header" }}
<div class="page-header">
    <div class="blog_header_img"></div>
    <div class="container header-text"><span class="header_title">{{ .Title }}</span></div>
</div>
{{ end }}

{{ define "main" }}
<main role="main">
    <div class="container-fluid bg_gray">
        <div class="container bg_gray header_padding">
            <div class="row gr_article">
                <div class="col-md-12">
                    by {{ .Params.Author }}
                </div>
            </div>
            <div class="row gr_article">
                <div class="col-lg-12">
                    {{ if isset .Params "externalurl" }}
                    <p>You are redirected to <a href="{{ .Params.externalurl }}">{{ .Params.externalurl }}</a> to view this external content.</p>
                    {{ else }}
                    {{ .Content }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</main>

{{ end }}
