{{ define "header" }}
<div class="page-header">
    <div class="about_header_img"></div>
    <h1 class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 display-5">{{ .Title }}</h1>
</div>
{{ end }}

{{ define "main" }}
<main role="main">
    <div class="container-fluid bg_gray">
        <div class="row gr_article offset-lg-2 col-lg-8 offset-md-1 col-md-10">
            {{ .Content }}
        </div>
    </div>
</main>
{{ end }}

{{ define "footer" }}
<div class="page-header">
<h2 class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 display-6">Mentors: {{ delimit .Params.mentors ", " }}</h2>
</div>
{{ end }}
