{{ define "header" }}

<div class="page-header">
    <div class="news_header_img"></div>
    <div class="container header-text"><span class="header_title">{{ .Title }}</span></div>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
    <div class="container-fluid marketing bg_gray">
        <div class="container marketing bg_gray learn_more_padding">
            <div class="row gr_article">
                <div class="col-lg-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "subfoot" . }}
</main>
{{ end }}
