{{ define "header" }}
<div class="container-fluid bbheader">
    <div class="news_header_img">
        <div class="container">
            <span class="bbtitle">{{ .Title }}</span>
        </div>
    </div>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
    <div class="container-fluid marketing bg_gray">
        <div class="container marketing bg_gray learn_more_padding">
            <div class="row ">
                <div class="col-lg-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "subfoot" . }}
</main>
{{ end }}
