{{ define "header" }}
<div class="page-header">
    <div class="about_header_img"></div>
    <h1 class="offset-lg-2 col-lg-8 display-5">{{ .Title }}</h1>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
 <div class="container-fluid  bg_gray">
    <div class="row px-2">
        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
            <div class="container">
                 {{ .Content }}
            </div>
            <div class="panel-group" id="presentations">
            {{ range $index, $day := (index .Params "conference-days") }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#presentations" href="#collapse{{ $index }}"> {{ $day }}</a> </h3>
                    </div>
                    <div id="collapse{{ $index }}" class="panel-collapse collapse {{ if eq $index 0 }}show{{ end }}">
                <ol>
                    {{ range (where $.Pages.ByWeight "Params.conference-day" $day) }}
                    <a href="{{ .RelPermalink }}"><li> {{ .Title }} </li></a>
                    {{ end }}
                </ol>
                    </div>
                </div>
            {{ end }}
            </div>
      </div>
  </div>
 </div>
</main>
{{ end }}
