{{ define "header" }}
<div class="page-header">
    <div class="blog_header_img"></div>
    <div class="container header_text">
        <span class="header_title">News</span>
    </div>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
    <div class="container-fluid bg_gray">
        <div class="container center bg_gray gr_heading about">
            <div class="row ">
                <div class="col-lg-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
