{{ define "header" }}
<div class="container-fluid bbheader">
    <div class="blog_header_img"></div>
    <div class="container header_text">
        <span class="bbtitle">News</span>
    </div>
</div>
{{ end }}
{{ define "main" }}
<main role="main">
    <div class="container-fluid marketing bg_gray">
        <div class="container marketing center bg_gray gr_heading learn_more about">
            <div class="row ">
                <div class="col-lg-12">
                    Wat
                </div>
            </div>
        </div>
    </div>
    {{ partial "subfoot" . }}
</main>
{{ end }}
