.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

a {
    color: #ff6905;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e55f00; 
    text-decoration: underline;
}

a:visited {
    color: #b34c00;
}

a:active {
    color: #cc5500;
}
