<div class="row featurette news_item">
    <div class="col-md-7 order-2 order-md-1">
        <a href="{{ .Permalink }}" class="blog_link"><h2 class="mt-2">{{ .Title }} </h2></a>
        <div class="badges-container">
            {{ range .Params.categories }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" "categories" $name) }}
            <span class="badge badge-pill badge-primary"><a href="{{ .RelPermalink }}">{{ $name }}</a></span>
            {{ end }}
            {{ end }}
        </div>
        <h6>by {{ .Params.author }}</h6>
        <div class="lead">{{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}"> Read more...</a>
            {{ end }}
        </div>
    </div>
    <div class="col-md-5 news_img order-1 order-md-2">
            {{ $thumbnail := .Resources.GetMatch "thumbnail*" | default (resources.Get (.Scratch.Get "default_thumbnail")) }}
            <a href="{{ .Permalink }}"><img class="featurette-image img-fluid mx-auto" src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}"></a>
    </div>
</div>
